 //= require_tree .
 //= require_self

@import "bootstrap-sprockets"
@import "bootstrap"

#movies-filter
  li
    &.checked .title
      color: white
      background-color: green

    .runtime
      font-size: 75%
      font-weight: normal
      margin-left: 4px

    .title
      margin-left: 2px
      padding: 3px

.showtime
  color: white
  margin: 5px 0 5px 0
  text-align: center
  background-color: blue

  &.selected
    background-color: green

  &.selected, &.selectable
    cursor: pointer

  &.unselectable
    opacity: 0.25
    cursor: not-allowed

  .title
    padding: 2px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  .datetime
    color: lightgray
    font-size: 80%
    padding: 0 2px 0 2px
    &.start
      float: left
    &.end
      float: right
